<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <title>Kino im Kasten</title>


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/fontawesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/webjars/material-icons/iconfont/material-icons.css}" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<div id="main-wrapper">
    <nav th:replace="template :: navbar-top"></nav>
    <div class="wrapper">
        <ul th:replace="template :: navbar-left" ></ul>
        <div id="content-wrapper">


            <!-- success or error message -->
            <div th:if="${loadSuccess?.equals(false)}" th:text="#{configuration.load.failure}" class="alert alert-danger" role="alert"></div>
            <div th:if="${loadSuccess?.equals(true)}" th:text="#{configuration.load.success}" class="alert alert-success" role="alert"></div>

            <!-- configuration details -->
            <div class="container d-flex flex-wrap align-content-start detail-container">
                <div class="col p-3 m-1">
                    <h5 th:text="#{configuration.settings.passwordRegex}"></h5>
                    <p th:text="${configuration.getRegexPassword()}"></p>
                </div>
                <div class="col p-3 m-1">
                    <h5 th:text="#{configuration.settings.defaultNormalPrice}"></h5>
                    <p th:text="${configuration.getDefaultNormalPrice()}"></p>

                    <h5 th:text="#{configuration.settings.defaultReducesPrice}"></h5>
                    <p th:text="${configuration.getDefaultReducedPrice()}"></p>
                </div>
                <div class="col p-3 m-1">
                    <h5 th:text="#{configuration.settings.defaultStartTime}"></h5>
                    <p th:text="${configuration.getDefaultStartTime()}"></p>
                </div>
                <div class="col p-3 m-1">
                    <h5 th:text="#{configuration.settings.defaultJobs}"></h5>
                    <div th:each="protoJob : ${configuration.getDefaultJobs()}">
                        <h6 th:text="${protoJob.getName()}">job name</h6>
                        <p th:text="${protoJob.getDescription()}">some description</p>
                    </div>
                </div>
            </div>

            <!-- reload from file button -->
            <div class="container d-flex flex-wrap align-content-start detail-container">
                <div class="col p-3 m-1">
                    <form class="kik-form" method="post" th:action="@{/settings/refresh}">
                        <button class="btn" type="submit" th:text="#{configuration.load.submit}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="template :: footer"></footer>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"
        src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script th:replace="template :: scripts"></script>
</body>

</html>